* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    position: relative;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {

    background-color: rgba(87, 65, 150, 1);
}

header h1 a {
    color: #ffffff;
}

.kjkj {
    width: 200px;
}

ul {
    background-color: #E9E9E9;
}

.kjk {
    padding: 20px 40px;

}

nav {
    padding-left: 398px;
    padding-right: 441px;
    width: 100%;
    background-color: #E9E9E9;
}

.Trending {
    background-color: #ffffff;
    font-size: 65px;
    text-align: center;
    padding-top: 60px;
}
.a1{
    padding-left: 135px;
    padding-right: 100px;
}
.a2{
    padding-left: 135px;
    padding-right: 100px;
}
.a3{
    padding-left: 135px;
    padding-right: 100px;
}
.b1{
    margin-top: 45px;
    font-size: 20px;
    width: 195px;
}
.bb1{
    color: #DAA520;
}

.a1.flex{
    align-items: flex-start;
}

.flexpotoebi.flex{
    align-items: flex-end;
}
.flexpotoebi1.flex{
    align-items: flex-end;
}
.flexpotoebi2.flex{
    align-items: flex-end;
}
.flexpotoebi3.flex{
    align-items: flex-end;

}
.flexpotoebi4.flex{
    align-items: flex-end;
}
.flexpotoebi5.flex{
    align-items: flex-end;
}
.flexpotoebi6.flex{
    align-items: flex-end;
}
.foot {
    height: 220px;
    width: 1840px;
    box-sizing: 1px;
    border: 2px solid #000000;
    margin-left: 35px;
    
}
.aaaa1{
    font-size: 65px;

}

.a1 img {
    width: 280px;
    height: 320px;
}


.foot h1 a{
    color: #000000;
}
.textebi{
    font-size: 40px;
}
.footoebi .flex{
justify-content: flex-start;
font-size: 36px;
margin-top: 10px;
}


.login{
    z-index: 1000;
    padding-top: 67px;
    padding-left: 96px;
    width: 842px;
    height: 919px;
    background-color: #ffffff;
    position: absolute;
    border: #000000 2px solid ;
    top: 0;
    right: 0;

}

.login h2{
    font-size: 64px; 
    color: #000000;

}

.login input{
margin-top: 33px;
height: 50px;
width: 502px;
}
.over{
    overflow-x: hidden;
}